    <footer>
        <div class="container">
           

            <div class="row">
                <div class="col-md-6">
                    <p class="copyright text-muted medium">Copyright &copy; 2016 Bowman, Burnside, Subedi, Veloz and Wiebelt</p>
                </div>

                <div class="col-md-6">
                    <ul class="list-inline quicklinks pull-right">
                        <li><a href="/">Home</a>
                
                    </ul>
                </div>
            </div>
        </div>
    </footer>