<header id="masthead">
		<div class="container">
		<h1>DevMatchs</h1>
			<nav>
				<a href="/">Home</a>
				<a href="/apps">Applicants</a>
				<a href="/admin">Employers</a>
				<!--links to pages will go here at the top header for alternate navigation route for users to get to which page they need to go-->
			</nav>
		</div>
	</header><!--end of header-->