<<<<<<< HEAD
<link rel="stylesheet" type="text/css" href="/css/agency.css">

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">DevMatch</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
=======
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">DevMatch</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/apps">Applicants</a>
                    </li>
                    <li>
                        <a href="/admin">Employers</a>
>>>>>>> 468236ce04b98a6be9d19dc61f9c3c6fbfbf5afe
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
<<<<<<< HEAD
        <!-- /.container-fluid -->
    </nav>

    
    </body>





=======
        <!-- /.container -->
    </nav>

{{!-- <header id="masthead">
		<div class="container">
		<h1>DevMatchs</h1>
>>>>>>> 468236ce04b98a6be9d19dc61f9c3c6fbfbf5afe
			<nav>
				<a href="/">Home</a>
				<a href="/apps">Applicants</a>
				<a href="/admin">Employers</a>
				<!--links to pages will go here at the top header for alternate navigation route for users to get to which page they need to go-->
			</nav>
		</div>
	</header><!--end of header--> --}}