<header id="masthead">
		<div class="container">
			<a href="/" id="logo">DevMatch</a>
			<nav>
				<a href="/">Home</a>
				<a href="/login">Applicants</a>
				<a href="/apps">application</a>
				<a href="login.html">Employers</a>
				<a href="about.html">About Us</a>
				<!--links to pages will go here at the top header for alternate navigation route for users to get to which page they need to go-->
			</nav>
		</div>
	</header><!--end of header-->
