<link rel="stylesheet" type="text/css" href="/css/agency.css">

<div class="page-header">
  <h1>DevMatch <small>You can't learn personality</small></h1>


			<nav>

				<a href="/">Home</a>

				<a href="/apps">Applicants</a>
				<a href="/admin">Employers</a>


				<a href="/login">Applicant Log In</a>
				
				
				<!--links to pages will go here at the top header for alternate navigation route for users to get to which page they need to go-->
				</nav>
			
</div>


