<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DevMatch</title>
</head>
<body>

<div class = "main-container">
	<div class = "header">
	<h1>Applicant Page</h1>
	<!--navigation bar to go here-->
	</div><!--end of header div-->

	<div class = "basic-info">
	<!--<form action="/create" method="POST">  consoled out until database is connected

	--> 
	<fieldset><!-- groups the basic info together-->
		First Name
		<br>
		<input type="text" id="first_name" class="form-control" placeholder="First Name" size ="25">
		</br>
            Last Name
            <br>
            <input type="text" id="last_name" class="form-control" placeholder="Last Name" size ="25">
            </br>
            Address
            <br>
            <input type="text" id="address" class="form-control" placeholder="Street, City, State, Zipcode" size ="75">
            </br>
            Phone Number
            <br>
            <input type="text" id="phone" class="form-control" placeholder="xxx-xxx-xxxx" size ="25">
            </br>
            GitHub
            <br>
            <input type="text" id="" class="form-control" placeholder="gitHub" size ="25">
            </br>
            LinkedIn
            <br>
            <input type="text" id="linkedIn" class="form-control" placeholder="LinkedIn" size ="25">
            </br>

<!--copy and paste input boxes for each database field here-->
	</fieldset> 

	<fieldset><!--groups the personality quiz together-->
	<h2>Tell us a little about you and your work style.</h2> <!--This needs reworded -->

	<h3>I enjoy collaborating with a team.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q1">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
    	<h3>I do my best work under pressure.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q2">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	<h3>I use established systems and routines to complete tasks.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q3">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       		<h3>It's hard for me to take time for leisure when there's still work to do.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q4">
	 		<option value=""></option>
            <option value="5">Not like me at all</option>
            <option value="4">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="2">A lot like me</option>
            <option value="1">Exactly like me</option> 
       	</select>
       		<h3>I enjoy mentoring other team members.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q5">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option>  
       	</select>
       	<h3>I have trouble telling my colleagues "no".</h3>
	 	<select data-placeholder="" class="chosen-select" id="q6">
	 		<option value=""></option>
            <option value="5">Not like me at all</option>
            <option value="4">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="2">A lot like me</option>
            <option value="1">Exactly like me</option> 
       	</select>
       	<h3>When I brainstorm, I talk to others about my ideas.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q7">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	<h3>I focus best alone in a room.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q8">
	 		<option value=""></option>
            <option value="5">Not like me at all</option>
            <option value="4">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="2">A lot like me</option>
            <option value="1">Exactly like me</option> 
       	</select>
       	<h3>I'm comfortable receiving constructive feedback.</h3>
	 	<select data-placeholder="" class="chosen-select" id="q9">
	 	<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	<h3>I enjoy building relationships with my team members. </h3>
	 	<select data-placeholder="" class="chosen-select" id="q10">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	
	</fieldset><!--end of personality questions-->

	<input type="submit" id="submit" value="Submit Info">
	</form>
	</div><!--end of info div-->

</div><!--end of main div-->

<footer>&copy; 2016 Bowman, Burnside, Subedi, Veloz and Wiebelt</footer>


<!-- jQuery -->
<script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
<!-- javascript -->
<script type="text/javascript" src="script.js"></script>
</body>
</html>