<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<<<<<<< HEAD
	<link rel="stylesheet" type="text/css" href="agen/css/style.css">

	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS Files -->
    <link href="css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	{{!-- JQuery --}}
    <script src="js/jquery.js"></script>
	
	{{!-- Bootstrap Javascript --}}
    <script src="js/bootstrap.min.js"></script>
=======
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	{{!-- Bootstrap CSS CDN --}}
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	{{!-- JQuery CDN --}}
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	{{!-- Bootstrap JS CDN --}}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
>>>>>>> a97c9e3073cf55f255f71c51f500f4e2cce1a1bf
	
	{{!-- Applicant.handlebars script file --}}
	<script src="/js/applicant.js"></script>

	<title>DevMatch</title>	
</head>
<body>
	{{!-- Import header partials --}}
	{{>header}}

	{{!-- Main body content --}}
	{{{ body }}}
	<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>

	{{!-- Import footer partials --}}
	{{>footer}}
</body>
</html>
