<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/agency.css">

	{{!-- Bootstrap CSS CDN --}}
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	{{!-- JQuery CDN --}}
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	{{!-- Bootstrap JS CDN --}}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	{{!-- Applicant.handlebars script file --}}
	<script src="/js/applicant.js"></script>

	<title>DevMatch</title>	
</head>
<body>
	{{!-- Import header partials --}}
	{{>header}}

	{{!-- Main body content --}}
	{{{ body }}}

	{{!-- Import footer partials --}}
	{{>footer}}
</body>
</html>
