<h1>Applicants Stored In the Database:</h1>
<ul>
  {{#each users}}
    <div class="well">
      <p><span class="label">User ID:</span> {{this.first_name}}</p>
      <p><span class="label">Username:</span> {{this.last_name}}</p>

     <!--  <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        < button type="submit">Delete</button>
      </form>

      <a href="/quotes/{{this.id}}">Update this quote</a> -->
    </div>
  {{/each}}
</ul>