<div class="container text-center">    
    <fieldset><!--groups the personality quiz together-->
        <h2>Tell us a little about you and your work style.</h2>

        <h3>I enjoy collaborating with a team.</h3>
            <select data-placeholder="" class="chosen-select" id="q1">
                <option value=""></option>
                <option value="2">Not like me at all</option>
                <option value="4">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="8">A lot like me</option>
                <option value="10">Exactly like me</option> 
            </select>
            <h3>I do my best work under pressure.</h3>
            <select data-placeholder="" class="chosen-select" id="q2">
                <option value=""></option>
                <option value="2">Not like me at all</option>
                <option value="4">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="8">A lot like me</option>
                <option value="10">Exactly like me</option> 
            </select>
            <h3>I use established systems and routines to complete tasks.</h3>
            <select data-placeholder="" class="chosen-select" id="q3">
                <option value=""></option>
                <option value="2">Not like me at all</option>
                <option value="4">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="8">A lot like me</option>
                <option value="10">Exactly like me</option> 
            </select>
                <h3>It's hard for me to take time for leisure when there's still work to do.</h3>
            <select data-placeholder="" class="chosen-select" id="q4">
                <option value=""></option>
                <option value="10">Not like me at all</option>
                <option value="8">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="4">A lot like me</option>
                <option value="2">Exactly like me</option> 
            </select>
                <h3>I enjoy mentoring other team members.</h3>
            <select data-placeholder="" class="chosen-select" id="q5">
                <option value=""></option>
                <option value="2">Not like me at all</option>
                <option value="4">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="8">A lot like me</option>
                <option value="10">Exactly like me</option>  
            </select>
            <h3>I have trouble telling my colleagues "no".</h3>
            <select data-placeholder="" class="chosen-select" id="q6">
                <option value=""></option>
                <option value="10">Not like me at all</option>
                <option value="8">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="4">A lot like me</option>
                <option value="2">Exactly like me</option> 
            </select>
            <h3>When I brainstorm, I talk to others about my ideas.</h3>
            <select data-placeholder="" class="chosen-select" id="q7">
                <option value=""></option>
                <option value="2">Not like me at all</option>
                <option value="4">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="8">A lot like me</option>
                <option value="10">Exactly like me</option> 
            </select>
            <h3>I focus best alone in a room.</h3>
            <select data-placeholder="" class="chosen-select" id="q8">
                <option value=""></option>
                <option value="10">Not like me at all</option>
                <option value="8">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="4">A lot like me</option>
                <option value="2">Exactly like me</option> 
            </select>
            <h3>I'm comfortable receiving constructive feedback.</h3>
            <select data-placeholder="" class="chosen-select" id="q9">
            <option value=""></option>
                <option value="2">Not like me at all</option>
                <option value="4">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="8">A lot like me</option>
                <option value="10">Exactly like me</option> 
            </select>
            <h3>I enjoy building relationships with my team members. </h3>
            <select data-placeholder="" class="chosen-select" id="q10">
                <option value=""></option>
                <option value="2">Not like me at all</option>
                <option value="4">A little like me</option>
                <option value="6">Somewhat like me</option>
                <option value="8">A lot like me</option>
                <option value="10">Exactly like me</option> 
            </select>
        </fieldset>
    <hr>
<!--=====================end of personality questions===================-->
        <input type="submit" id="personality_submit" class="btn btn-lg btn-primary" value="Submit Personality Test">
    </div>
