<header id="masthead">
		<div class="container">
			<a href="index.html" id="logo">DevMatch</a>
			<nav>
				<a href="index.handlebars">Home</a>
				<a href="applicantLogin.handlebars">Applicants</a>
				<a href="employerLogin.handlebars">Employers</a>
				<!--links to pages will go here at the top header for alternate navigation route for users to get to which page they need to go-->
			</nav>
		</div>
	</header><!--end of header-->

<h3>Sign in with us so we can match you with recruiters.</h3>
<section class="loginform cf">
<form name="login" action="index_submit" method="get" accept-charset="utf-8">
    <ul>
        <li><label for="usermail">Email</label>
        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
        <input type="submit" value="Get Started"></li>
    </ul>
</form>
</section>

<!--hopefully-->
<h3>Or Sign in using your existing GitHub or LinkedIn account!</h3>

<img src= "../public/img/github.png" height=100, weight=100>
<img src= "../public/img/linkedin.png" height=100, weight=100>

<footer>&copy; 2016 Bowman, Burnside, Subeti, Veloz and Wiebelt</footer>