<header id="masthead">
        <div class="container">
            <a href="index.html" id="logo">DevMatch</a>
            <nav>
                <a href="index.handlebars">Home</a>
                <a href="applicantLogin.handlebars">Applicants</a>
                <a href="loginEmployer.handlebars">Employers</a>
                <!--links to pages will go here at the top header for alternate navigation route for users to get to which page they need to go-->
            </nav>
        </div>
    </header><!--end of header-->

<section class="loginform cf">
<form name="login" action="index_submit" method="get" accept-charset="utf-8">
    <ul>
        <li><label for="usermail">Email</label>
        <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
        <li><label for="password">Password</label>
        <input type="password" name="password" placeholder="password" required></li>
        <li>
        <input type="submit" value="Login"></li>
    </ul>
</form>
</section>

<footer>&copy; 2016 Bowman, Burnside, Subeti, Veloz and Wiebelt</footer>