

<header id="masthead">
		<div class="container">
		<h1>DevMatchs</h1>
			<nav>
				<a href="/">Home</a>
				<a href="/apps">Applicants</a>
				<a href="/admin">Employers</a>
				<!--links to pages will go here at the top header for alternate navigation route for users to get to which page they need to go-->
			</nav>
		</div>
	</header><!--end of header-->

	<div class = "main-container">
		<div class = "header">
		<!--main center of our page, the welcome message, want this have a welcoming and professional feel to get started-->
			<h1>Welcome to DevMatch</h1>
			<h3>A place for talented developers and growing companies to come together.</h3>
		</div>
	</div>

<!--Below are two sidebar boxes, employers will be the left box, applicants right, these boxes will have images associated with them representing the tech company and the other an applicant developer. These images will be built as clickable links that will navigate them to thier respective pages-->

	<section class="left-sidebar">
		<div id="employers">
			<h3>Employers</h3>
			<p>Start here to find your talent.</p>
				<img src="http://placehold.it/350x150">
		</div>

	</section>

	<section class="right-sidebar">
		<div id="applicants">
			<h3>Applicants</h3>
			<p>Start here to fill out your profile to get noticed.</p>
				<img src="http://placehold.it/350x150">
		</div>

	</section>

<footer>&copy; 2016 Bowman, Burnside, Veloz and Wiebelt</footer>