<div class = "main-container">
	<div class = "header">
	<h1>Applicant Page</h1>
	<!--navigation bar to go here-->
	</div><!--end of header div-->

	<div class = "basic-info">
	<!--<form action="/create" method="POST">  consoled out until database is connected

	--> 
	<fieldset><!-- groups the basic info together-->
		Info requested
		<br>
		<input type="text" id="name" class="form-control" placeholder="placeholder" size ="25">
		<br>
<!--copy and paste input boxes for each database field here-->
	</fieldset> 

	<fieldset><!--groups the personality quiz together-->
	<h2>Tell us a little about you and your work style.</h2> <!--This needs reworded -->

	<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q1">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
    	<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q2">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       		<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q3">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       		<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q4">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       		<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q5">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option>  
       	</select>
       	<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q6">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q7">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q8">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q9">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	<h3>Question</h3>
	 	<select data-placeholder="" class="chosen-select" id="q10">
	 		<option value=""></option>
            <option value="1">Not like me at all</option>
            <option value="2">A little like me</option>
            <option value="3">Somewhat like me</option>
            <option value="4">A lot like me</option>
            <option value="5">Exactly like me</option> 
       	</select>
       	
	</fieldset><!--end of personality questions-->

	<input type="submit" id="submit" value="Submit Info">
	</form>
	</div><!--end of info div-->

</div><!--end of main div-->

<footer>&copy; 2016 Bowman, Burnside, Veloz and Wiebelt</footer>


<!-- jQuery -->
<script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
<!-- javascript -->
<script type="text/javascript" src="script.js"></script>